In [45]:
import pandas as pd

# Use on_bad_lines='skip' to skip rows with too many columns
data = pd.read_csv('output.csv', on_bad_lines='skip')

# Check the data
print(data.head())

   slNo          city               state
0     1    Jamshedpur           Jharkhand
1     2       Jhajjar             Haryana
2     3        Mumbai         Maharashtra
3     4   Navi Mumbai         Maharashtra
4     5      Itanagar   Arunachal Pradesh

In [46]:

data = data.drop(columns='slNo')

In [47]:
data.tail()

                                 city            state
429                     East Godavari   Andhra Pradesh
430            Jogeshwari Purv Mumbai      Maharashtra
431                         Dharuhera          Haryana
432                        Karimnagar        Telangana
433   Chunabhatti Depo and Stn Mumbai      Maharashtra

In [48]:
data.to_csv('new_demo_state.csv')

In [49]:
df = pd.read_csv('new_demo_state.csv')

In [50]:
df.head()

   Unnamed: 0          city               state
0           0    Jamshedpur           Jharkhand
1           1       Jhajjar             Haryana
2           2        Mumbai         Maharashtra
3           3   Navi Mumbai         Maharashtra
4           4      Itanagar   Arunachal Pradesh

In [ ]:
pip install openpyxl

In [51]:
import pandas as pd

# Load the CSV file (use raw string to avoid escape character issues)


# Save as an Excel file
excel_file = 'new_demo_state.xlsx'
df.to_excel(excel_file, index=False)

print(f"File converted and saved as: {excel_file}")

ModuleNotFoundError: No module named 'openpyxl'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  434 non-null    int64
 1   city        434 non-null    object
 2   state       434 non-null    object
dtypes: int64(1), object(2)
memory usage: 10.3+ KB